@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");

body {
  margin: 0;
  font-family: "Jaini", system-ui;
  background: #1b1b1b;
  line-height: 1;
}

* {
  box-sizing: border-box;
}
